.col-2 {
    flex: 0 0 300px;
    max-width: 300px;
}

/* class used to find DOM elements */
.baseCohortNode {
}

.rightTriangle {
    fill: #6f0fbf;
    opacity: 0.3;
}

.rightTriangle:hover {
    opacity: 1.0;
}

.bottomTriangle {
    fill: #6f0fbf;
    opacity: 0.3;
}

.bottomTriangle:hover {
    opacity: 1.0;
}

.cohortColumn {

}

.colItem {
}

.propertiesOverviewTitleBox {
    height: 40px;
    border-right: 2.5px solid #979797;
    border-bottom: 0.5px solid #eaeaea;
}

.close-x {
    fill: transparent;
    stroke: #ff0000;
    stroke-linecap: round;
    stroke-width: 5;
    stroke-opacity: 0.3;
}

.close-x:hover {
    stroke-opacity: 1.0;
}

/* custom scrollbar */
.scrollbar {
    overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset #dfdfdf;
    background-color: #dadada;
}

.scrollbar::-webkit-scrollbar {
    width: 3px;
    background-color: #fafafa;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #6f0fbf;
}

/* tooltip */
.columnPropertyType {
    display: inline-flex;
    justify-content: space-between;
}

.dataTypeSpan {
    text-decoration: underline dotted #bbbbbb;
    cursor: help;
}

/* dropdown */
.dropdownIcon {
    width: 10px;
    height: 10px;
    margin-right: 5px;

    align-self: flex-end;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdownSelection {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;

    left: -170%;
    padding: 5px;
    cursor: pointer;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

/* Data Querying View */
.propertiesInformationTitle {
    margin: 0;
    font-size: 20px;
}

#col_propertiesInformation .row:nth-child(odd) {
    background-color: #fbfbfb;
}

#col_propertiesInformation .row {
    height: 35px;
}

.cohortQueryColumn {
    border-right: 1.5px solid #efefef;
}

#divQuery {
    display: flex;
    flex-direction: column;
}

.node line {
    stroke: #808080;
    stroke-width: 0.5px;
}

.node rect {
    shape-rendering: crispEdges;
    fill: #e4e7e7;
}

.node text {
    font-size: 16px;
    alignment-baseline: central;
}

.node-hover {
    shape-rendering: crispEdges;
    fill: #FF0000;
    stroke: #000000;
}

.node .nodeLink {
    shape-rendering: crispEdges;
    fill: #e4e7e7;
    fill-opacity: .5;
}

.query-container {
    z-index: 7;
    width: 150px;
    flex-direction: column;

    display: none;
    position: absolute;
}

.triangle-hover {
    width: 60px;
    height: 30px;

    display: none;
    position: absolute;
    opacity: 0.3;
}

.triangle-hover:hover {
    opacity: 1.0;
}

/* closing icon */
.closing-hover {
    width: 20px;
    height: 20px;

    display: none;
    position: absolute;
    opacity: 0.3;
}

.closing-hover:hover {
    opacity: 1.0;
}

/* Data Selection View */
#dataSelectionView {
    display: none;
    min-width: 100%;

    background: #fdfdfd;
    font-size: 20px;
    margin: 15px 0 30px;
    border-bottom: 1px solid #f2f2f2;
}

#dataSelectionGrid .row {
    height: 35px;
    border-bottom: 0.5px solid #efefef;
}

#dataSelectionGrid .row:nth-child(odd) {
    background-color: #f7f7f7;
}

#dataSelectionGrid #col_properties .row {
    cursor: pointer;
    padding-left: 10px;
}

#dataAnalysingView {
    display: none;
}

#dataAnalysingView .row button {
    margin: 20px 20px;
    padding: 0 4px;

    display: inline-block;
    text-align: center;
    border: none;
    box-shadow: 0 0.2px 0 0.2px #aaaaaa;
    border-bottom: 2.5px solid #0892d0;
    cursor: pointer;
    background-color: #ffffff;
    line-height: normal;
    font-size: 20px;
}

#dataAnalysingView .row button:disabled {
    cursor: default;
    border-bottom: none;
    font-size: 30px;
    color: #000;
    box-shadow: none;
}

/*** Modal ***/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(255, 255, 255, 0.5); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* Modal Header */
.modal-content-header {
    padding: 2px 16px;
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Modal Body */
.modal-content-body {
    margin: 2px 16px;
    border: 0.5px solid #dfdfdf;
}

/* Modal Footer */
.modal-content-footer {
    padding: 15px;
    display: flex;
    justify-content: flex-end;
}

/* The Close Button */
.modal-close {
    color: #f00;
    float: right;
    font-size: 28px;
    font-weight: bold;
    opacity: 0.3;
}

.modal-close:hover,
.modal-close:focus {
    text-decoration: none;
    cursor: pointer;
    opacity: 1.0;
}

.modal-btn {
    padding: 0.5rem 1rem;
    background-color: #fafafa;
    border: 0.5px solid #f2f2f2;
    box-shadow: 0 0 2px 2px #aaa;
}

.modal-btn:hover {
    box-shadow: 0 0 2px 2px #31b0d5;
    border-style: inset;
    cursor: pointer;
}

/*** drag & drop ***/
.dropField {
    height: 40px;
    display: flex;
    align-items: center;
}

.dropField:nth-child(odd) {
    background-color: #f4f4f4;
}

.dragItem {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    cursor: -webkit-grab;
}