#chart {

}

#divQuery {
    display: flex;
    flex-direction: column;
}

.node line {
    stroke: #808080;
    stroke-width: 3;
}

.node rect {
    shape-rendering: crispEdges;
    fill: #ffffe0;
    stroke: #000000;
}

.node-hover {
    shape-rendering: crispEdges;
    fill: #FF0000;
    stroke: #000000;
}

.node path {
    shape-rendering: crispEdges;
    fill: #ffffe0;
    fill-opacity: .7;
    stroke: #000000;
    stroke-opacity: .2;
}

.query-container {
    z-index: 7;
    width: 150px;
    flex-direction: column;

    display: none;
    position: absolute;
}

.triangle-hover {
    width: 60px;
    height: 30px;

    display: none;
    position: absolute;
    opacity: 0.3;
}

.triangle-hover:hover {
    opacity: 1.0;
}

/* closing icon */
.closing-hover {
    width: 20px;
    height: 20px;

    display: none;
    position: absolute;
    opacity: 0.3;
}

.closing-hover:hover {
    opacity: 1.0;
}

text {
    font-size: 20px;
    text-anchor: middle;
    alignment-baseline: central;
}