#divQuery {
    display: flex;
    flex-direction: column;
}

.node line {
    stroke: #808080;
    stroke-width: 0.5px;
}

.node rect {
    shape-rendering: crispEdges;
    fill: #efefdf;
}

.node-hover {
    shape-rendering: crispEdges;
    fill: #FF0000;
    stroke: #000000;
}

.node path {
    shape-rendering: crispEdges;
    fill: #efefdf;
    fill-opacity: .4;
}

.query-container {
    z-index: 7;
    width: 150px;
    flex-direction: column;

    display: none;
    position: absolute;
}

.triangle-hover {
    width: 60px;
    height: 30px;

    display: none;
    position: absolute;
    opacity: 0.3;
}

.triangle-hover:hover {
    opacity: 1.0;
}

/* closing icon */
.closing-hover {
    width: 20px;
    height: 20px;

    display: none;
    position: absolute;
    opacity: 0.3;
}

.closing-hover:hover {
    opacity: 1.0;
}

foreignObject body {
    width: 300px;
    margin: 0;
    text-align: center;
}

foreignObject body input {
    width: 270px;
    height: 25px;

    font-size: 20px;
    text-align: center;

    border: none;
    border-bottom: 0.5px solid #808080;
}

text {
    font-size: 16px;
    text-anchor: middle;
    alignment-baseline: central;
}

/* Data Selection View */
#dataSelectionView {
    display: none;
    min-width: 100%;

    background: #fdfdfd;
    border-top-style: outset;
    font-size: 20px;
    margin: 0 10px 30px 10px;
}

#dataSelectionGrid .row {
    height: 35px;
    padding-left: 5px;
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    border-color: #dfdfdf;
}

#dataSelectionGrid .row:nth-child(odd) {
    background-color: #f9f9f9;
}

.column-head {
    font-weight: bold;
    border-right-color: #000000 !important;
}

#dataAnalysingView {
    display: none;
}

#dataAnalysingView .row button {
    margin-right: 20px;

    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    border: none;
    border-bottom: solid 0.5px #2aabd2;
}